
main{
    background-color: rgb(241, 235, 235);
<<<<<<< HEAD
}
footer{
    background-color: #ca668b;
    padding-top: 1%;
}
footer a{
    color: antiquewhite;
    
=======
    padding-bottom: 1%;
>>>>>>> 9fb67ff826b654e74b718315ea118c24aeddb85d
}
footer{
    background-color: #ca668b;
    padding-top: 1%;
}
footer a{
    color: antiquewhite;
    
}
.nav-link{
    font-size: 20px;
}