
main{
    background-color: rgb(241, 235, 235);
    padding-bottom: 1%;
}
footer{
    background-color: #ca668b;
    padding-top: 1%;
}
footer a{
    color: antiquewhite;
    
}
.nav-link{
    font-size: 20px;
}