body{
    display: grid;
    grid-template-rows: 15% 1fr 10%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
/*encabezado*/
header{
    grid-row: 1;
    display: grid;
    grid-template-rows: 50% 50%;
}

.encabezado1{
    grid-row: 1;
    background-color: rgb(152, 220, 109);
}

.encabezado2{
    background-color: rgb(205, 149, 79);
    grid-row:2;
}


/*main*/
main{
    background-color: rgb(249, 249, 249);
    grid-row: 2;
}
/*carrusel*/

.carrusel-general{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
}

.TarjetasCarrusel img{
    width: 95%;
    height: 100%;
}

.bi-arrow-left{
font-size: 40px;
color: rgba(255, 255, 255, 0.933);
}

.bi-arrow-right{
    font-size: 40px;
    color: rgba(255, 255, 255, 0.933);
    margin-left: 80%;
}

#Container-carrusel{
    height: 300px;
    overflow: hidden;

}

.carrusel{
    height: 100%;
    position: relative;
}
    /*tarjetas/imagenes*/
    .TarjetasCarrusel {
        height: 100%;
    }

    #TarjetasCarrusel-1{
        background-color: rgb(69, 69, 69);
    }

    #TarjetasCarrusel-2{
        background-color: rgb(122, 189, 201);
    }

    #TarjetasCarrusel-3{
        background-color: rgb(201, 122, 184);
    }

    a{
        text-decoration: none;
    }



.flechasCarrusel{
    height: 100%;
    width: 90%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    margin-left: 5%;
}


/*productos*/


.TITULO-PRODUCTO{
    margin-left: 13%;
}

.productos{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.produc1{
    border: 2px solid;
    width: 300px;
    padding: 1%;
    height: 100%;
    margin: 2%;
    text-align: center;
}

.produc1 img{
    width: 100%;
}

/*footer*/
footer{
    background-color: brown;
    grid-row: 3;
}